.innerContainer {
  display: grid;
  grid-template-columns: 1fr 350px;
  flex: 1;
  /* padding: 20px;
  margin: 10px; */
  gap: 20px;
  /* display: flex;
  justify-content: space-between; */
  background-color: #1a1a1a;
  margin-top: 0;
  padding-top: 0;
  /* margin-bottom: 0;
  padding-bottom: 0; */
}

/* .movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
} */

/* .bodyHome {
  display: flex;
  justify-content: space-between;
} */

@media (max-width: 768px) {
  .innerContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }
}
