.movieList {
  /* display: flex;
  justify-content: space-between; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 20vh;
  width: 15vh;
  flex: 1; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  margin-right: 0;
  padding-right: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  height: auto;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.movieListContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  box-sizing: border-box;
  /* gap: px; */
  /* align-content: start;
  justify-content: center; */
}

/* .movieHeadings {
  color: #fec848;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.3rem;
} */

.movieList::-webkit-scrollbar {
  display: none;
}

.movieWrap {
  display: flex;
  flex-direction: column;
}

/* .movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 20vh;
  width: 15vh;
  flex: 1;
} */

@media (max-width: 768px) {
  .movieList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
  }
}
