/* .header {
  display: flex;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #1a1a1a; */
  background-color: #252525;
  color: white;
  border-bottom: white 2px solid;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}
